# don't commit the FOM scripts
src/*_foms_*.py
src/*ipynb*

# profile_plotter.py is sufficient
src/surf*.py

# swap files (due to Vim)
src/.*.swo
src/.*.swp

# input swap files
input_files/*.*.swo
input_files/*.*.swp
input_files/.*.swo
input_files/.*.swp
input_files/wout_Miller*.nc
input_files/wout_revD*.nc
input_files/wout_D*.nc
input_files/wout_100*.nc

# only commit the relenvant output dirs
output_files/misc_figures



